<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262738507787-e43ofoogbl0kf8kkgtm7ddgloi8s7d9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262738507787-e43ofoogbl0kf8kkgtm7ddgloi8s7d9i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262738507787-mss468ebcr336n6he8triptv6uvfl4ol.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpSwbUx8oX1oCY7GXCM1NedfF5oafaZaY</string>
	<key>GCM_SENDER_ID</key>
	<string>262738507787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>just.cost.app.justcost</string>
	<key>PROJECT_ID</key>
	<string>justcost-46bed</string>
	<key>STORAGE_BUCKET</key>
	<string>justcost-46bed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262738507787:ios:2fa7e457327b514d</string>
	<key>DATABASE_URL</key>
	<string>https://justcost-46bed.firebaseio.com</string>
</dict>
</plist>